
.adopt{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    padding: 12rem;
    text-align: center;
    justify-content: center;
}

.adopt h1 {
    color: white;
    font-size: 5rem;
    padding-bottom: 2rem ;
    cursor: pointer;
    text-align: center;
}

.adopt p {
    color: white;
    font-weight: 300;
    line-height: 2.2rem;
    font-size: 2.5rem;
}

.adopt h1::after{
    content: "";
    display: flex;
    background: white;
    height: .2rem;
    transition: 800ms;
    width: 6rem;
    margin-right: auto;
    margin-left: auto;
    
}

.adopt h1:hover::after{
    transition: .8s;
    width: 42rem;
    cursor: pointer;
}

/* SOBRE - ABOUT */

.about {
    background-color: #2C567F;
    text-align: center;
    padding: 2rem;
}

.about h2{
    color: #DEB959;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about p {
    color: white;
    font-weight: 300;
    line-height: 2.8rem;
    font-size: 2rem;
}

