.wolvesList {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.wolvesList li{
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
    margin: 2rem;
}

.wolvesList li + li {
    margin-top: 6rem;
}

.wolvesList .wolf-text{
    margin-left: 2rem;
}

.wolvesList h3 {
    font-size: 2rem;
}


.wolfDescription,
.wolfAge {
    max-width: 24rem;
    color: #333333;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.4rem; 
}

p.wolfName {
    margin-bottom: 1.8rem;
}

.wolfImage{
    height: 18rem;
    width: 25rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #333333;
}

li:nth-child(odd) .wolfImage{
    box-shadow: -40px -30px #2C5680;   
}

.wolfInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* -------------------*/


.wolfText{
    margin-left: 2rem;
}

.wolfAge {
    margin-bottom: 1.8rem;
}


.wolfImage{
    height: 18rem;
    width: 25rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #333333;
}

main section.wolves li:nth-child(odd) .wolfImage,
main section.wolves li:nth-child(even) .wolfImage{
    box-shadow: -40px -30px #2C5680;
    
}

.adoptButton a {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
    background-color: #DEB959;
    padding: .5rem .5rem;
    margin-top: .8rem;
}

