/* BARRA DE PESQUISA */

.filtering{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    flex-direction: column;
}


.filtering .searchWolf input {
    padding: .2rem;
    width: 48rem;
    font-size: 1.25rem;
    font-family: 'Darker Grotesque', sans-serif;
    height: 2.4em;
    font-weight: 500;
}

.filtering .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 2rem;
}

.filtering .checkbox input{
    width: 1rem;
    height: 1rem;
}

.filtering .checkbox p {
     color: #333333;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.4rem;
    margin-left: .8rem;
}

.searchWolf a {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
    background-color: #DEB959;
    padding: .5rem .5rem;
    margin-top: .8rem;
}
