.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.header .navbarHeader{
    background-color: #85CDF5;
    width: 100%;
    padding-top: .8rem;
}

.header .navbarHeader .navbarList {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header .navbarHeader .navbarList li a {
    font-weight: bold;
    font-size: 2rem;
    color: #333333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* ANIMANDO O HEADER*/
.header .navbarHeader .navbarList .animationHeader:nth-child(1) a::after,
.header .navbarHeader .navbarList .animationHeader:nth-child(3) a::after{
    content: "";
    display: block;
    background-color: #333333;
    height: .2rem;
    width: 0;
    float: right;
    transition: width 800ms ease-in-out;
}

.header .navbarHeader .navbarList .animationHeader:nth-child(1) a:hover::after,
.header .navbarHeader .navbarList .animationHeader:nth-child(3) a:hover::after{
    transition: width 800ms ease-in-out;
    width: 70%;
}
