main {
    text-align: center;
    display: flex;
    flex-direction: column;
}

section.add {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section.add h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
}


.basicInfo,
.addInfo,
.addDescription{
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.basicInfo,
.linkImage{
    margin-bottom: 2rem;
}

.linkImage label,
.description label {
    font-size: 2rem;
    font-weight: 500;
    text-align: start;
    
}

.basicInfo .name label,
.basicInfo .age label {
    text-align: start;
    font-size: 2rem;
    font-weight: 500;
}

.basicInfo .name,
.basicInfo .age,
.linkImage label,
.description label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.basicInfo .name input{
    width: 48rem;
    height: 2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.basicInfo .age input{
    width: 4.5rem;
    height: 2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.linkImage input{
    width: 54rem;
    height: 2rem;
    font-size: 1.6rem;
    padding: 1rem;
}

textarea{
    width: 54rem;
    height: 26rem;
    padding: 1rem;
    font-family: 'Darker Grotesque';
    font-size: 1.5rem;
    font-weight: 500;
}

input,
textarea{
    background-color: #E6E6E6;
    border: 1px solid #333333;
}

.addButton button{
    background-color: #2C5680;
    border: 1px solid #333333;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: #FFFFFF;
    width: 14rem;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.addButton button:hover{
    cursor: pointer;
}
