/* FOOTER */
.footer{
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
    margin-top: auto;
    gap: 2rem
}

.footer .wolvesContact {
    display: flex;
    gap: 2rem;
}

.footer .wolvesContact ul li{
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
    align-items: center;
}

.footer .wolvesContact ul li p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.footer .wolvesContact ul li a {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
    background-color: #DEB959;
    padding: 0 .5rem;
    margin-top: .8rem;
}

.footer .wolvesContact ul li a:hover{
    transform: scale(1.2);
    background-color:#ebd190;
    transition: 800ms;
}

.footer .wolvesFigure figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer figcaption {
    font-size: 1.5rem;
    margin-bottom: .8rem;
}

iframe {
    width: 250;
    height:175;
    border: 0;
}
