/* VALORES */

.values {
    background-color: #333333;
    padding: 2rem;
}

.values h2 {
    color: #DEB959;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.values ul.valuesList{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.values ul.valuesList li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.values ul.valuesList li p {
    color: white;
    font-weight: 300;
    line-height: 2rem;
    font-size: 1.5rem;
}

.values ul.valuesList li .whiteCircle{
    background-color: white;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.values ul.valuesList li h3 {
    color: white;
    font-size: 2rem;
    margin: 1.6rem 0;
}
