main .aboutUs{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 8rem;
}

main .aboutUs h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    line-height: 4.5rem;
    margin: 4rem 0 6rem 0;  
    font-weight: 400;
}

main .aboutUs p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .aboutUs p{
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin:  0 5rem;
}
