main section .singleWolf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

main section .singleWolf h1{
    font-size: 3rem;
    font-family: Roboto, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.imageButtons figure {
    height: 18rem;
    width: 25rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #333333;
    box-shadow: -40px -30px #2C5680;

    margin-bottom: 3rem;
}

.wolfInfo{
    display: flex;
    align-items: center;
}

.wolfInfo p {
    width: 30rem ;
    color: #333333;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.4rem;
    margin-left: 2rem;
    text-align: justify;
}
.wolfInfo p + p {
    margin-top: 2rem;
}

.imageButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wolfButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wolfButtons a:nth-child(1){
    background-color: #7AAC3A;
    width: 12rem;
    height: 3.5rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    color: white;
}

.wolfButtons button:nth-child(2){
    background-color: #DE5959;
    width: 12rem;
    height: 3.5rem;
    border: none;

    font-size: 1.2rem;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    color: white;
}

.wolfButtons button:nth-child(1),
.wolfButtons button:nth-child(2) {
    cursor: pointer;
}


